*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #f5f5f5;
}

/* navbar section */

nav{
  background-color: #232f3e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  max-width: 1600px;
  padding: 18px;
}

.search-container input, 
button {
   padding: 5px 10px;
   border: none;
   font-size: 16px;
}

.search-container input {
    border-radius: 3px 0 0 3px;
}

.search-container button{
    border-radius: 0 3px 3px 0;
    background-color: #f5c518;
    cursor: pointer;
    transition:  0.2s;
}

.search-container button:hover {
      background-color: #ffdd45;
}



/* main section */

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    max-width: 1600px;
    margin: 0 auto;
}

.movie-container{
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

.movie-poster img{
    height: 450px;
    margin-right: 30px;
    border-radius: 5px 0 0 5px;
}

.movie-info {
    padding-inline: 15px;
}

.movie-info h2{
    text-align: center;
    font-size: 32px;
    margin: 20px 0 12px 0;
}

.movie-info h2+p{
    text-align: center;
}

.movie-info .movie-genre{
    display: flex;
    justify-content: center;
    margin-block: 5px;
    overflow-x: auto;
}

.movie-info .movie-genre p{
   background-color: #232f3e;
   color: #fff;
   padding: 5px 14px;
   margin-inline: 5px;
   border: 2px solid #00000000;
   border-radius: 6px;
   font-weight: 700;
}

.movie-info p {
    font-size: 18px;
    margin-block: 16px;
    line-height: 24px;
}

.movie-container.noBackground{
    background: none;
    box-shadow: none;
    align-items: center;
}

/* footer */ 

footer{
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    font-size: 16px;
}

/*Responsive Code */

@media screen and (max-width:950px){
    .movie-container {
        flex-direction: column;
    }

    .movie-poster img{
        width: 100%;
        height: fit-content;
        margin-right: 0;
    }

    .movie-info{
        padding-inline: 30px;
    }
}

@media screen and (max-width:630px){
    nav {
      flex-direction: column;
    }

    .search-container{
        margin-top: 12px;
    }
}



